---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1150px;
$code-background-color: #002B36;
$code-font-color: #b7c7c9;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
